extends layout

block content
  .main-container
    h1= title
    ul
    h2= 'Users'
    if users && users.length > 0
      each user in users ? users : []
        li= user.name
        li= user.email
        br
    else
      li= 'No users have been created'
    ul
    h2= 'Episodes'
    if episodes && episodes.length > 0
      each episode in episodes ? episodes : []
        li= episode.number
        li= episode.name
        br
    else
      li= 'No submissions have been created'
    br
    h2= 'Submissions'
    if submissions && submissions.length > 0
      each submission in submissions
        li= submission
        br
    else
      li= 'No submissions have been created'
    br
    h2= 'Episode Upload'
    form(action="/admin" enctype="multipart/form-data" method="POST")
      label(for="episodeName") Episode Name: 
      input(type="text" name="episodeName")
      br
      label(for="episodeNum") Episode Number: 
      input(type="text" name="episodeNum")
      br
      label(for="audioFile") Episode Audio: 
      input(type="file" name="audioFile")
      br
      label(for="srtFile") Episode SRT: 
      input(type="file" name="srtFile")
      br
      input(type="submit" value="Continue")