extends layout

block content
  .main-container
    h1= title
    h2 Episode Upload
    form.form(action="/admin" enctype="multipart/form-data" method="POST")
      .formInput
        label(for="episodeName") Episode Name: 
        input(type="text" name="episodeName")
        br
      .formInput
        label(for="episodeNum") Episode Number: 
        input(type="text" name="episodeNum")
        br
      .formInput
        label(for="audioFile") Episode Audio: 
        input(type="file" name="audioFile")
        br
      .formInput
        label(for="srtFile") Episode SRT: 
        input(type="file" name="srtFile")
        br
      .formInput
        input(type="submit" value="Upload")
        while error = flash.shift()
          p(.error)= error.message
    br 
    h2= 'Users'
    ul
    if users && users.length > 0
      each user in users ? users : []
        li= user.name
        li= user.email
        br
    else
      li No users have been created
    ul
    h2 Episodes
    if episodeData && episodeData.length > 0
      each episode in episodeData ? episodeData : []
        li= episode.episode.number
        li= episode.episode.name
        if episode.submissions && episode.submissions.length > 0
          each submission in episode.submissions
            li= submission.length + ' segments completed'
            br
        else
          li= 'No submissions have been created'
          br
    else
      li= 'No episodes have been created'
      br