extends layout

block content
  link(rel='stylesheet', href='/stylesheets/transcript.css')
  //- link(rel='stylesheet', href='/stylesheets/episode.css')
  .main-container
    a.title(href="/admin")
      img(src="/images/arrow_left.svg")
      h1.epnumber= "Episode " + episode.number
      h2.eptitle= episode.name
    audio(controls='')
      source(src=audio type='audio/mpeg')
      | Your browser does not support the audio element.
    form
      .formInput
        textarea(name="text", cols="55", rows="10", maxlength=10000 style="resize: none;")= submissionText
    .instructions
      if userSubmissionNumbers !== []
        ul
        each submission in userSubmissionNumbers
          li= submission.name
            p= "Completed " + submission.submissions + (submission.submissions > 1 ? " submissions" : " submission")
      else
        p No user submissions